{{#if checkListPromise.isPending}}
  {{loading}}
{{else}}
  {{#if displayCheckDetails}}
    {{check-view check=checkSelected close=(action "hideCheckView")}}
  {{else}}
    <table class="table">
      <thead>
        <tr>
          {{#table-th-sorter sortBy=(action "sortBy" "alias") key="alias" reverse=reverse currentSortingProperty=currentSortingProperty classes="text-left"}}Service{{/table-th-sorter}}
          {{#table-th-sorter sortBy=(action "sortBy" "uptime") key="uptime" reverse=reverse currentSortingProperty=currentSortingProperty classes="text-center"}}Rolling Uptime for 30 days{{/table-th-sorter}}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedList as |check|}}
          <tr>
            <th class="text-capitalize text-left">
              <a target="_blank" rel="noopener" href="{{website}}/checks/{{check.token}}?api-key={{apiKey}}">
                {{check.alias}}
              </a>
            </th>
            <th class="text-{{check.uptime_formatted.colour}} text-center">{{check.uptime_formatted.value}}%</th>
            <th >
              <button {{action "showCheckView" check}} class="btn btn-secondary">Details</button>
            </th>
          </tr>
        {{else}}
          <tr class="text-center">
            <td colspan="3" class="text-red">No checks found.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{/if}}